Repository zlogzr/jira: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, stylelint --cache --fix --custom-syntax postcss-less

.lintstagedrc:

{
  "./src/**/*.{ts,tsx}": [
    "pretty-quick --staged"
  ],
  "./src/**/*.less": "stylelint --cache --fix --custom-syntax postcss-less"
}

ci: 加入json-server
  __json_server_mock__/db.json
  package-lock.json
  package.json
Due: none

ci: readme
  README.md
Due: none

feat: 登录
  .eslintrc.js
  __json_server_mock__/middleware.js
  craco.config.js
  package.json
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.tsx
  src/logo.svg
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/screens/Login/index.tsx
  src/setupTests.ts
  src/utils/index.ts
Due: pretty-quick --staged

chore: 安装devtools
  .env
  .env.development
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/App.less
  src/App.tsx
  src/index.css
  src/index.tsx
  src/screens/Login/index.tsx
Due: pretty-quick --staged, stylelint --cache --fix --custom-syntax postcss-less

fix: less格式化
  src/screens/Login/index.tsx
  src/screens/Login/style.less
Due: pretty-quick --staged, stylelint --cache --fix --custom-syntax postcss-less

feat: 添加登录注册
  .env
  .env.development
  .eslintrc.js
  .husky/pre-commit
  .prettierrc
  craco.config.js
  package-lock.json
  package.json
  src/App.less
  src/App.tsx
  src/auth-provider.ts
  src/authenticated-app/idnex.tsx
  src/context/auth-context.tsx
  src/context/index.tsx
  src/index.tsx
  src/pages/project-list/index.tsx
  src/pages/project-list/list.tsx
  src/pages/project-list/search-panel.tsx
  src/screens/Login/style.less
  src/unauthenticated-app/Login.tsx
  src/unauthenticated-app/Register.tsx
  src/unauthenticated-app/index.tsx
  src/utils/index.ts
Due: pretty-quick --staged, stylelint --cache --fix --custom-syntax postcss-less

feat: 保持登录状态
  .lintstagedrc
  src/context/auth-context.tsx
  src/pages/project-list/index.tsx
  src/utils/http.ts
Due: pretty-quick --staged

style: 安装emotion, 优化登录注册页面
  .prettierrc
  craco.config.js
  package-lock.json
  package.json
  src/App.css
  src/App.less
  src/App.tsx
  src/assets/left.svg
  src/assets/logo.svg
  src/assets/right.svg
  src/authenticated-app/index.tsx
  src/images.d.ts
  src/index.tsx
  src/pages/project-list/list.tsx
  src/pages/project-list/search-panel.tsx
  src/unauthenticated-app/Login.tsx
  src/unauthenticated-app/Register.tsx
  src/unauthenticated-app/index.tsx
Due: pretty-quick --staged, stylelint --cache --fix --custom-syntax postcss-less

style: 优化项目列表页面
  package.json
  src/assets/software-logo.svg
  src/authenticated-app/index.tsx
  src/components/lib.tsx
  src/pages/project-list/index.tsx
  src/pages/project-list/list.tsx
  src/pages/project-list/search-panel.tsx
Due: pretty-quick --staged

fix: 去除警告信息
  package-lock.json
  package.json
  src/authenticated-app/index.tsx
  src/context/index.tsx
  src/index.tsx
  src/pages/project-list/list.tsx
  src/unauthenticated-app/index.tsx
  src/utils/index.ts
Due: pretty-quick --staged

feat: 用useAsync处理loading和error状态
  src/authenticated-app/index.tsx
  src/hook/project.ts
  src/hook/use-async.ts
  src/hook/user.ts
  src/pages/project-list/index.tsx
  src/pages/project-list/list.tsx
Due: pretty-quick --staged

feat: 登录注册loading和错误处理
  src/auth-provider.ts
  src/hook/use-async.ts
  src/unauthenticated-app/Login.tsx
  src/unauthenticated-app/Register.tsx
  src/unauthenticated-app/index.tsx
Due: pretty-quick --staged

feat: 处理me接口loading和error
  src/components/lib.tsx
  src/context/auth-context.tsx
Due: pretty-quick --staged

feat: 添加errorboundary
  .eslintrc.js
  src/App.tsx
  src/components/error-boundary.tsx
Due: pretty-quick --staged

feat: 添加路由：projects和project
  package-lock.json
  package.json
  public/index.html
  src/authenticated-app/index.tsx
  src/components/test-closure.tsx
  src/hook/useDocumentTitle.ts
  src/pages/project-list/index.tsx
  src/pages/project-list/list.tsx
  src/pages/project/index.tsx
  src/unauthenticated-app/index.tsx
Due: pretty-quick --staged

feat: url状态管理
  .prettierignore
  package-lock.json
  package.json
  src/authenticated-app/index.tsx
  src/hook/useUrlQueryParam.ts
  src/index.tsx
  src/pages/epic/index.tsx
  src/pages/kanban/index.tsx
  src/pages/project-list/index.tsx
  src/pages/project-list/search-panel.tsx
  src/pages/project/index.tsx
  src/utils/index.ts
  src/wdyr.ts
Due: pretty-quick --staged

feat: 添加id-select.tsx
  src/authenticated-app/index.tsx
  src/components/id-select.tsx
  src/components/user-select.tsx
  src/pages/project-list/index.tsx
  src/pages/project-list/list.tsx
  src/pages/project-list/search-panel.tsx
  src/pages/project-list/util.ts
  src/types/index.ts
Due: pretty-quick --staged

feat: 项目收藏功能
  .eslintrc.js
  src/components/pin.tsx
  src/hook/project.ts
  src/hook/use-async.ts
  src/pages/project-list/index.tsx
  src/pages/project-list/list.tsx
Due: pretty-quick --staged

chore: 用useCallback解决无限渲染问题
  src/hook/project.ts
  src/hook/use-async.ts
  src/hook/useUrlQueryParam.ts
  src/hook/user.ts
  src/pages/project-list/index.tsx
  src/utils/http.ts
  src/utils/index.ts
Due: pretty-quick --staged

feat: composition实现modal状态共享
  src/authenticated-app/index.tsx
  src/components/lib.tsx
  src/components/project-popover.tsx
  src/pages/project-list/index.tsx
  src/pages/project-list/list.tsx
  src/pages/project-list/project-modal.tsx
Due: pretty-quick --staged

chore: 用useReducer改造useAsync
  src/hook/use-async.ts
  src/hook/use-undo.ts
Due: pretty-quick --staged

chore: 用redux-toolkit替换context
  package-lock.json
  package.json
  src/authenticated-app/index.tsx
  src/components/project-popover.tsx
  src/context/auth-context.tsx
  src/context/index.tsx
  src/pages/project-list/index.tsx
  src/pages/project-list/list.tsx
  src/pages/project-list/project-list.slice.ts
  src/pages/project-list/project-modal.tsx
  src/store/auth.slice.ts
  src/store/index.ts
  src/unauthenticated-app/Login.tsx
Due: pretty-quick --staged

chore: 用url管理项目modal状态
  src/authenticated-app/index.tsx
  src/components/project-popover.tsx
  src/pages/project-list/index.tsx
  src/pages/project-list/list.tsx
  src/pages/project-list/project-modal.tsx
  src/pages/project-list/util.ts
Due: pretty-quick --staged

feat: 创建编辑项目
  package-lock.json
  package.json
  src/components/id-select.tsx
  src/components/lib.tsx
  src/hook/project.ts
  src/pages/project-list/index.tsx
  src/pages/project-list/list.tsx
  src/pages/project-list/project-modal.tsx
  src/pages/project-list/util.ts
  src/unauthenticated-app/index.tsx
Due: pretty-quick --staged

feat: 删除和乐观更新
  src/hook/project.ts
  src/hook/use-optimistic-options.ts
  src/pages/project-list/list.tsx
  src/pages/project-list/project-modal.tsx
  src/pages/project-list/util.ts
Due: pretty-quick --staged

chore: 改变路由参数的实现方式
  src/hook/useUrlQueryParam.ts
  src/pages/project-list/util.ts
Due: pretty-quick --staged

fix: 修复bug
  src/context/auth-context.tsx
  src/pages/project-list/index.tsx
  src/pages/project-list/list.tsx
  src/pages/project-list/project-modal.tsx
  src/pages/project-list/util.ts
  src/unauthenticated-app/Login.tsx
Due: pretty-quick --staged

feat: 添加task功能
  public/index.html
  src/assets/bug.svg
  src/assets/task.svg
  src/authenticated-app/index.tsx
  src/components/lib.tsx
  src/components/task-type-select.tsx
  src/hook/kanban.ts
  src/hook/project.ts
  src/hook/task-type.ts
  src/hook/task.ts
  src/hook/user.ts
  src/pages/epic/index.tsx
  src/pages/kanban/index.tsx
  src/pages/kanban/kanban-column.tsx
  src/pages/kanban/search-panel.tsx
  src/pages/kanban/util.ts
  src/pages/project-list/index.tsx
  src/pages/project-list/list.tsx
  src/pages/project-list/search-panel.tsx
  src/pages/project/index.tsx
  src/types/kanban.ts
  src/types/project.ts
  src/types/task-type.ts
  src/types/task.ts
  src/types/user.ts
Due: pretty-quick --staged

feat: 看板和任务编辑删除
  src/components/mark.tsx
  src/context/index.tsx
  src/hook/kanban.ts
  src/hook/task.ts
  src/pages/kanban/create-kanban.tsx
  src/pages/kanban/create-task.tsx
  src/pages/kanban/index.tsx
  src/pages/kanban/kanban-column.tsx
  src/pages/kanban/task-modal.tsx
  src/pages/kanban/util.ts
  src/pages/project/index.tsx
Due: pretty-quick --staged

feat: 看板拖拽
  package-lock.json
  package.json
  src/components/drag-and-drop.tsx
  src/hook/kanban.ts
  src/hook/task.ts
  src/hook/use-optimistic-options.ts
  src/pages/kanban/index.tsx
  src/pages/kanban/kanban-column.tsx
Due: pretty-quick --staged

feat: 排序乐观更新
  .env
  src/authenticated-app/index.tsx
  src/components/project-popover.tsx
  src/components/user-popover.tsx
  src/hook/epic.ts
  src/hook/kanban.ts
  src/hook/reorder.ts
  src/hook/task.ts
  src/hook/use-optimistic-options.ts
  src/hook/user.ts
  src/pages/epic/create-epic.tsx
  src/pages/epic/index.tsx
  src/pages/epic/util.ts
  src/pages/kanban/kanban-column.tsx
  src/pages/project-list/index.tsx
  src/pages/project/index.tsx
  src/types/epic.ts
Due: pretty-quick --staged

ci: 加入gh-pages
  404.html
  package-lock.json
  package.json
  public/index.html
Due: none

fix: deploy
  package.json
Due: none

feat: 代码分割
  src/App.tsx
  src/authenticated-app/index.tsx
  src/unauthenticated-app/index.tsx
Due: pretty-quick --staged

feat: 加入profiler
  src/components/profiler.tsx
  src/hook/project.ts
  src/index.tsx
  src/pages/kanban/index.tsx
  src/pages/project-list/index.tsx
  src/utils/index.ts
Due: pretty-quick --staged

fix: deploy
  public/404.html
Due: none

docs: 增加备注文档
  note.md
Due: none

feat: 自动化测试
  package-lock.json
  package.json
  src/__tests__/fake.json
  src/__tests__/http.ts
  src/__tests__/mark.tsx
  src/__tests__/project-list.tsx
  src/__tests__/use-async.ts
  src/authenticated-app/index.tsx
  src/context/index.tsx
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/setupTests.ts
Due: pretty-quick --staged
